body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #cccccc;
    background-color: #222222;
    overflow-y: auto;
    margin: 0px;
}

p {
    margin: 5px;
    text-align: center; 
}

p.info {
    margin-bottom: 10px;
    text-align: left;
}

p.info span.label {
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0px;
    border-spacing: 0px;
}

table#plays {
    padding-top: 10px;
}

table.ui-datepicker-calendar th {
    color: #000000;
}

table:not(.ui-datepicker-calendar) tr:nth-child(even) {
    background-color: #444444;
    border-color: #444444;
}

td { font-size: 14px; padding: 5px; }
th { font-weight: bold; }

.small-screen td { font-size: 10px; padding: 5px; }
.small-screen th { font-size: 10px; padding: 5px; }

.ui-datepicker { background-color: #111111; }
.ui-state-highlight { background-color: #dddddd !important; border-color: #000000 !important; color: #000000 !important; }
.ui-state-active { background-color: #888888 !important; border-color: #000000 !important; color: #ffffff !important; }

#title-buffer {
    width: 100%;
    height: 52px;
    top: 0px;
    position: static;
}

#title-bar {
    width: 100%;
    top: 0px;
    position: fixed;
    background-color: #111111;
    border-bottom: solid #444444;
    display: flex;
}

#title {
    font-size: 22px;
    padding: 10px 20px;
    height: 37px;
    line-height: 37px;
}

.small-screen #title {
    padding: 10px 5px;
}

#search {
    margin: auto;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
}

input[type="search"] {
    width: 350;
    padding: 3px 4px;
}

.small-screen input[type="search"] {
    width: auto;
}

.small-screen #current-user, .medium-screen #current-user {
    display: none;
}

#user {
    padding: 10px 20px;
    text-align: right;
    white-space: nowrap;
}

.small-screen #user {
    padding: 14px 5px;
}

.flex-container {
    display: flex;
}

.flex-box {
    flex: 1;
    display: flex;
}

.flex-box:first-child > span { margin-right: auto; }

.flex-box:last-child > span { margin-left: auto; }

.small-screen {
    font-size: 12px;
}

#content {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-top: 10px;
}

h1 {
    text-align: center;
    font-size: 18px;
    padding: 5px 0 10px;
}

.small-screen h1 {
    font-size: 14px;
}

h2 {
    text-align: center;
    font-size: 16px;
}

.small-screen h2 {
    font-size: 10px;
}

:not(.tabs) h1, :not(.tabs) h2 {
    font-weight: bold;
}

.tabs h1, .tabs h2 {
    font-weight: normal;
    text-align: left;
    padding: 0;
    white-space: nowrap;
}

.tabs h1 li.selected {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs h1 li:not(.selected) {
    border-bottom: 1px solid #cccccc;
}

.tabs h2 li.selected {
    border-bottom: 1px solid #cccccc;
}

.tabs h1 li:last-child {
    width: 100%;
    text-align: right;
}

.tabs ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.tabs h1 li {
    padding: 5px 15px;
    margin-left: 0;
    margin-right: 0;
}

.tabs h2 li {
    padding: 5px;
    margin-left: 0;
    margin-right: 20px;
}

.small-screen .tabs h2 li {
    margin-right: 5px;
}

.tabs h1 span {
    padding: 10px;
}

div.tabs {
    padding-bottom: 10px;
}

h1 .selected, h2 .selected {
    font-weight: bold;
}

.messages { text-align: center; color: #aa3333; }
.messages p { margin-top: 20px; }

.wide { width: 60%; top: 0px; }
.narrow { width: 40%; top: 0px; }
.right { float: right; text-align: right; margin-right: 0; }
.section { padding-top: 5px; padding-bottom: 10px; }

.login {
    max-width: 320px;
    margin: auto;
}

.login form div, .signup form div {
    height: 30px;
}

.login label {
    width: 40%;
    display: inline-block;
}

.login input[type="text"], .login input[type="password"] {
    width: 60%;
}

.login input[type="checkbox"] {
    margin: 7px 10px 0 0;
}

.signup {
    max-width: 400px;
    margin: auto;
}

.signup label {
    width: 40%;
    display: inline-block;
}

.signup input[type="text"], .signup input[type="password"] {
    width: 60%;
}

.login form input[type="submit"], .signup form input[type="submit"] {
    float: right;
}

.login p:first-of-type, .signup p:first-of-type {
    margin-top: 40px;
}

input.invalid {
    border-color: #aa3333;
}

p.invalid-message {
    color: #aa3333;
}

.pages {
    padding-top: 10px;
}

.pages #previous {
    float: left;
}

.pages #next {
    float: right;
}

.footer {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    clear: left;
}

table:not(.ui-datepicker-calendar) tr:nth-child(even) {
    background-color: #303030;
    border-color: #303030;
}

td.name {
    font-weight: bold;
}

td.rating {
    text-align: center;
}

td.released, td.started, td.finished {
    white-space: nowrap;
    text-align: center;
}

body:not(.small-screen) td.released,
body:not(.small-screen) td.started,
body:not(.small-screen) td.finished {
    width: 80px;
}

td.art {
    text-align: center;
}

td.empty { 
    background-color: #444444;
    border-color: #444444;
    text-align: center;
    font-weight: bold;
}

.small-screen th.platforms, .small-screen td.platforms {
    display: none;
}

.small-screen th.tags, .small-screen td.tags {
    display: none;
}

.small-screen th.comments, .small-screen td.comments {
    display: none;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #ffffff;
}

a:hover {
    color: #cccccc;
}

a.button {
    border: 1px solid #ffffff;
    padding: 3px 5px;
    white-space: nowrap;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

a.button:hover {
    border: 1px solid #cccccc;
}

img.art:not(.small) {
    margin: 0 20px 20px 0;
    float: left;
    max-height: 256px;
    max-width: 256px;
}

img.art.small {
    max-height: 64px;
    max-width: 64px;
}

.small-screen img.art:not(.small) {
    max-width: 128px;
}

.small-screen img.art.small {
    max-height: 32px;
    max-width: 32px;
}

img.icon {
    width: 24px;
    height: 24px;
}

object.gb-logo {
    vertical-align: sub;
}

svg#gb-logo {
    fill: white;
}

form {
    margin: 0;
}

input, textarea {
    color: #ffffff;
    background-color: transparent;
    border: solid 1px #cccccc;
    padding: 2px 4px;
    font-size: inherit;
    border-radius: 0;
}

select {
    color: #ffffff;
    background-color: transparent;
    border: solid 1px #cccccc;
    padding: 1px;
    font-size: inherit;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button, input[type="submit"], input[type="reset"] {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 5px;
    border-radius: 0;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: #cccccc;
    border-color: #cccccc;
}

.small-screen button, .small-screen input[type="submit"], .small-screen input[type="reset"] {
    font-size: 12px;
}

select option { background-color: #222222; }

.info input, .info textarea, .info select {
    width: 300px;
}

td input {
    width: 100%;
}

textarea {
    font-family: unset;
}

#edit p.info span.label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
}
