p.info {
    margin-bottom: 10px;
    text-align: left;
}

p.info span.label {
    font-weight: bold;
}

table#plays {
    padding-top: 10px;
}


td input, td select {
    font-size: 13px;
}

.small-screen td, .small-screen th, .small-screen td input, .small-screen td select {
    font-size: 10px;
}

#title-buffer {
    height: 37px;
}

#title {
    font-weight: normal;
    padding: 10px 20px;
    height: 37px;
    line-height: 37px;
    justify-content: left;
}

.small-screen #title {
    padding: 10px 5px;
}

#search {
    margin: auto;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
}

input[type="search"] {
    width: 350;
    padding: 3px 4px;
}

.small-screen input[type="search"] {
    width: auto;
}

.small-screen #user {
    padding: 14px 5px;
}

.small-screen h2 {
    font-size: 10px;
}

div.tabs {
    padding-bottom: 10px;
}

.tabs h1, .tabs h2 {
    font-weight: normal;
    text-align: left;
    padding: 0;
    white-space: nowrap;
}

.tabs h1 li.selected {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs h1 li:not(.selected) {
    border-bottom: 1px solid #cccccc;
}

.tabs h2 li.selected {
    border-bottom: 1px solid #cccccc;
}

.tabs h1 li:last-child {
    width: 100%;
    text-align: right;
}

.tabs ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.tabs h1 li {
    padding: 5px 15px;
    margin-left: 0;
    margin-right: 0;
}

.tabs h2 li {
    padding: 5px;
    margin-left: 0;
    margin-right: 20px;
}

.small-screen .tabs h2 li {
    margin-right: 5px;
}

.tabs h1 span {
    padding: 10px;
}

.tabs a.button {
    margin-top: 0;
    float: right;
}

h1 .selected, h2 .selected {
    font-weight: bold;
}

.footer {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    clear: left;
}

td.name {
    font-weight: bold;
}

td.rating {
    text-align: center;
}

td.released, td.started, td.finished {
    white-space: nowrap;
    text-align: center;
}

body:not(.small-screen) td.released,
body:not(.small-screen) td.started,
body:not(.small-screen) td.finished {
    width: 80px;
}

td.art {
    text-align: center;
}

td.empty { 
    background-color: #444444;
    border-color: #444444;
    text-align: center;
    font-weight: bold;
}

img.art:not(.small) {
    margin: 0 20px 20px 0;
    float: left;
    max-height: 256px;
    max-width: 256px;
}

img.art.small {
    max-height: 64px;
    max-width: 64px;
}

img.icon {
    width: 24px;
    height: 24px;
}

object.gb-logo {
    vertical-align: sub;
}

svg#gb-logo {
    fill: white;
}

.small-screen th.platforms, .small-screen td.platforms {
    display: none;
}

.small-screen th.tags, .small-screen td.tags {
    display: none;
}

.small-screen th.comments, .small-screen td.comments {
    display: none;
}

.small-screen img.art:not(.small) {
    max-width: 128px;
}

.small-screen img.art.small {
    max-height: 32px;
    max-width: 32px;
}

form {
    margin: 0;
}

.small-screen button, .small-screen input[type="submit"], .small-screen input[type="reset"] {
    font-size: 12px;
}

select option { background-color: #222222; }

.info input[type="text"], .info textarea, .info select {
    width: 300px;
}

td input {
    width: 100%;
}

#edit p.info span.label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
}
