p.info {
    margin-bottom: 10px;
    text-align: left;
}

p.info span.label {
    font-weight: bold;
}

pre.info {
    font-family: inherit;
    white-space: pre-line;
}

table#plays {
    padding-top: 10px;
}


td input, td select {
    font-size: 13px;
}

.small-screen td, .small-screen th, .small-screen td input, .small-screen td select {
    font-size: 10px;
}

div#title {
    font-weight: normal;
    padding-left: 20px;
    justify-content: left;
}

.small-screen div#title {
    padding: 10px 5px;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
}

div#search {
    margin: auto;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
}

input[type="search"] {
    width: 350;
    padding: 3px 4px;
    font-size: 16px;
}

.small-screen input[type="search"] {
    width: auto;
    font-size: 12px;
}

.small-screen #user {
    padding: 14px 5px;
}

.small-screen h1 {
    font-size: 14px;
}

.small-screen h2 {
    font-size: 10px;
}

div.tabs {
    padding-bottom: 10px;
}

.tabs h1, .tabs h2 {
    font-weight: normal;
    text-align: left;
    padding: 0;
    white-space: nowrap;
}

.tabs h1 li.selected {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs h1 li:not(.selected) {
    border-bottom: 1px solid #cccccc;
}

.tabs h2 li.selected {
    border-bottom: 1px solid #cccccc;
}

.tabs h1 li:last-child {
    width: 100%;
    text-align: right;
}

.tabs ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.tabs h1 li {
    padding: 5px 15px;
    margin-left: 0;
    margin-right: 0;
}

.toggle-filters {
    float: right;
    font-size: 10px;
    margin-top: -15px;
    padding: 3px;
}

h2#filters ul {
    margin: 0 auto;
}

.tabs h2 ul {
    flex-wrap: wrap;
}

.tabs h2 li {
    padding: 5px;
    margin-left: 0;
    margin-right: 20px;
}

.small-screen .tabs h2 li {
    margin-right: 5px;
}

.small-screen #filters {
    display: none;
}

.tabs h1 span {
    padding: 10px;
}

.tabs a.button {
    margin-top: 0;
    margin-left: 5px;
    float: right;
}

h1 .selected, h2 .selected {
    font-weight: bold;
}

.footer {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    clear: left;
}

object.heart {
    width: 18px;
    height: 18px;
}

object.star {
    width: 16px;
    height: 16px;
}

td.name {
    font-weight: bold;
}

td.rating {
    width: 80px;
    text-align: center;
    white-space: nowrap;
    font-size: 0;
}

span.rating {
    font-size: 0;
}

object.star {
    vertical-align: bottom;
}

td.released, td.started, td.finished {
    white-space: nowrap;
    text-align: center;
}

body:not(.small-screen) td.released,
body:not(.small-screen) td.started,
body:not(.small-screen) td.finished {
    width: 83px;
}

td.art {
    text-align: center;
}

td.empty { 
    background-color: #444444;
    border-color: #444444;
    text-align: center;
    font-weight: bold;
}

img.art:not(.small) {
    margin: 0 20px 20px 0;
    float: left;
    max-height: 256px;
    max-width: 256px;
}

img.art.small {
    max-height: 64px;
    max-width: 64px;
}

img.icon {
    width: 24px;
    height: 24px;
}

a.object-link {
    /* Required for <a> tags around <object> tags to have nonzero height */
    display: inline-block;
}

object {
    /* Required for <a> tags around <object> tags to function */
    pointer-events: none;
}

object.gb-logo {
    vertical-align: sub;
}

svg#gb-logo {
    fill: white;
}

.small-screen th.platforms, .small-screen td.platforms {
    display: none;
}

.small-screen th.tags, .small-screen td.tags {
    display: none;
}

.small-screen th.comments, .small-screen td.comments {
    display: none;
}

.small-screen img.art:not(.small) {
    max-width: 128px;
}

.small-screen img.art.small {
    max-height: 32px;
    max-width: 32px;
}

div.hltb {
    border: 1px solid #cccccc;
    padding: 3px 5px;
    white-space: nowrap;
    display: inline-block;
    margin: 5px auto;
    width: 412;
}

.small-screen div.hltb {
    width: 380;
}

div.hltb a p {
    margin: 5px auto;
}

div.hltb a p:first-child {
    font-size: 10px;
}

div.hltb a p:last-child {
    font-weight: bold;
    font-size: 16px;
}

div.hltb ul {
    list-style: none;
    padding-left: 0;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

div.hltb ul li {
    padding: 5px;
    margin: auto;
    display: inline-block;
}

div.hltb ul li p {
    margin: auto;
}

div.hltb ul li p:first-child {
    font-weight: bold;
}

.small-screen div.hltb ul li p:first-child {
    font-size: 14px;
}

div.hltb ul li p:last-child {
    font-size: 8px;
    text-transform: uppercase;
}

form {
    margin: 0;
}

select {
    min-height: 22px;
}

select option { background-color: #222222; }
select option:checked {
    color: #222222;
    background-color: #dddddd;
}

.info input[type="text"], .info input[type="date"], .info textarea, .info select {
    width: 300px;
}

td input {
    width: 100%;
}

input::-webkit-date-and-time-value {
    min-height: 16px;
}

#edit p.info span.label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
}
