{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    const NONE = "{{ url_for('static', filename='star-empty.svg') }}";
    const EMPTY = "{{ url_for('static', filename='star-empty-y.svg') }}";
    const HALF = "{{ url_for('static', filename='star-half-y.svg') }}";
    const FULL = "{{ url_for('static', filename='star-full-y.svg') }}";

    function convertStatus(status) {
        if (status === "100%") return "hundred";
        return status.toLowerCase();
    }

    // Used to get around this Blink rendering bug, still unresolved more than six years later:
    // https://bugs.chromium.org/p/chromium/issues/detail?id=352762
    function randomName() {
        return "name-" + Math.random().toString(36).substr(2, 10);
    }

    function today() {
        const date = new Date();

        const year = date.getFullYear();
        const month = ((date.getMonth() < 9) && "0" || "") + (date.getMonth() + 1);
        const day = ((date.getDate() < 10) && "0" || "") + date.getDate();

        return `${year}-${month}-${day}`
    }

    function star(id, rating, target) {
        let src = NONE;

        if (rating >= target) {
            src = FULL;
        }
        else if (rating >= target - 1) {
            src = HALF;
        }
        else if (rating > 0) {
            src = EMPTY;
        }

        const type = rating > 0 ? "star" : "star none";

        // Allow the user to click on a full star to make it a half star (or none)
        const linkTarget = rating === target ? target - 1 : target === 2 && rating === 1 ? 0 : target;

        const img = `<object name="${randomName()}" class="${type}" type="image/svg+xml" data="${src}">Star</object>`;

        return `<a href="javascript:setRating('${id}', ${linkTarget})" class="object-link">${img}</a>`;
    }

    function heart(id, fave) {
        const src = fave
            ? "{{ url_for('static', filename='heart-full-p.svg') }}"
            : "{{ url_for('static', filename='heart-empty.svg') }}";

        const type = fave ? "heart" : "heart empty";

        const img = `<object name="${randomName()}" class="${type}" type="image/svg+xml" data="${src}">Heart</object>`;

        return `<a href="javascript:setFave('${id}', ${!fave})" class="object-link">${img}</a>`;
    }

    function editPlay(id) {
        const displayRow = $(`tr#${id}`);
        const editRow = $("tr#edit-play");
        const bufferRow = $("tr#edit-buffer");

        // Hide the row with this ID (but show all other hidden rows first!)
        $("tr").show();
        displayRow.hide();

        // Set the edit row's values
        let rating = parseInt(displayRow.find('.rating input[type="hidden"]').val());
        let fave = displayRow.find('.fave input[type="hidden"]').val().toLowerCase() === 'true';
        $("#edit-id").val(id);
        $("#edit-fave").val(fave);
        $("#edit-started").val(displayRow.find(".started").text());
        $("#edit-finished").val(displayRow.find(".finished").text());
        $("#edit-status").val(convertStatus(displayRow.find(".status").text()));
        $("#edit-tags").val(displayRow.find(".tags").text());
        $("#edit-comments").val(displayRow.find(".comments").text());
        $("#edit-rating").val(isNaN(rating) ? null : rating);

        // Remove any existing rating stars and replace them
        const ratingElement = editRow.find(".rating");
        ratingElement.find("a").remove();
        for (let i = 2; i <= 10; i += 2) {
            ratingElement.append(star("edit-play", rating, i));
        }

        // Remove existing fave heart and replace it
        const faveElement = editRow.find(".fave");
        faveElement.find("a").remove();
        faveElement.append(heart("edit-play", fave));

        // Move the edit row (and buffer row, to ensure highlights don't change)
        displayRow.after(bufferRow);
        bufferRow.after(editRow);
        editRow.show();

        // Set focus on status input
        $("#edit-status").focus();
    }

    function cancelEdit() {
        // Show all hidden rows
        $("tr").show();

        // Hide and reset the edit row
        const editRow = $(`tr#edit-play`);
        editRow.hide();
        $('#edit_form')[0].reset();
    }

    function setRating(id, rating) {
        const ratingElement = $(`tr#${id} .rating`);

        // Set the hidden input to the appropriate value
        ratingElement.find('input[type="hidden"]').val(rating);

        // Update the appropriate star images
        ratingElement.find("a").remove();

        for (let i = 2; i <= 10; i += 2) {
            ratingElement.append(star(id, rating, i));
        }
    }

    function setFave(id, fave) {
        const faveElement = $(`tr#${id} .fave`);

        // Set the hidden input to the appropriate value
        faveElement.find('input[type="hidden"]').val(fave.toString());

        // Update the appropriate heart image
        faveElement.find("a").remove();
        faveElement.append(heart(id, fave));
    }

    function deleteGame() {
        if (!window.confirm('Delete this game?')) {
            return;
        }

        window.location.href = "{{ url_for('delete', id=game.id) }}";
    }

    function deletePlay(id) {
        if (!window.confirm('Delete this record?')) {
            return;
        }

        window.location.href = `{{ url_for('delete_play') }}?id=${id}`;
    }

    $(document).ready(() => {
        const dates = $(".started input, .finished input");

        const addInputs = $("tr#new-play input, tr#new-play select");
        const addStarted = $("input#add-started");
        const addFinished = $("input#add-finished");
        const addStatus = $("select#add-status");

        const editInputs = $("tr#edit-play input, tr#edit-play select");
        const editStarted = $("input#edit-started");
        const editFinished = $("input#edit-finished");
        const editStatus = $("select#edit-status");

        // Enable JQuery UI's date picker.
        dates.datepicker({dateFormat: "yy-mm-dd"});

        // Submit on enter, reset on escape
        addInputs.keydown((e) => {
            if (e.keyCode == 13) {
                $('#add_form').submit();
            }
            else if (e.keyCode == 27) {
                $('#add_form')[0].reset();
            }
        });

        // Submit on enter, cancel on escape
        editInputs.keydown((e) => {
            if (e.keyCode == 13) {
                $('#edit_form').submit();
            }
            else if (e.keyCode == 27) {
                cancelEdit();
            }
        });

        // When started is set, automatically set status to "Playing"
        addStarted.change((e) => {
            if (addStarted.val() && addStatus.val() === "interested") {
                addStatus.val("playing");
            }
        });

        editStarted.change((e) => {
            if (editStarted.val() && editStatus.val() === "interested") {
                editStatus.val("playing");
            }
        });

        // When finished is set, automatically set status to "Completed"
        addFinished.change((e) => {
            if (addFinished.val() && addStatus.val() !== "hundred") {
                addStatus.val("completed");
            }
        });

        editFinished.change((e) => {
            if (editFinished.val() && editStatus.val() !== "hundred") {
                editStatus.val("completed");
            }
        });

        // When status is set to Playing, set started to today
        addStatus.change((e) => {
            if (addStatus.val() === "playing" && !addStarted.val()) {
                addStarted.val(today())
            }
        })

        editStatus.change((e) => {
            if (editStatus.val() === "playing" && !editStarted.val()) {
                editStarted.val(today())
            }
        })

        // When status is set to Completed (or Played or 100%), set finished to today
        addStatus.change((e) => {
            if ((addStatus.val() === "completed" || addStatus.val() === "hundred" || addStatus.val() === "played") && !addFinished.val()) {
                addFinished.val(today())
            }
        })

        editStatus.change((e) => {
            if ((editStatus.val() === "completed" || editStatus.val() === "hundred" || addStatus.val() === "played") && !editFinished.val()) {
                editFinished.val(today())
            }
        })
    });
</script>

<div class="tabs">
    <h1>
        <ul>
            <li><a href={{ url_for('games') }}>Games</a></li>
            <li><a href={{ url_for('plays') }}>Plays</a></li>
            <li class="selected"><a href={{ url_for('details', id=game.id) }}>{{ game.name }}</a></li>
            <li>&nbsp;</li>
        </ul>
    </h1>
</div>

<div id="game">
    <img class="art" src="{{ game.image_url if game.image_url else url_for('static', filename='default.png') }}" />
    <pre class="info">{{ game.description }}</pre>
    <p class="info">
        <span class="label">Released:</span>
        <span>{{ game.released if game.released else "Unknown" }}</span>
    </p>
    <p class="info">
        <span class="label">Platforms:</span>
        <span>{{ (game.platforms | map(attribute="name") | join(", ")) if game.platforms.count() else "Unknown" }}</span>
    </p>
    {% if game.rating %}
    <p class="info">
        <span class="label">Rating:</span>
        <span class="rating">
            {% for i in range(2, 12, 2) %}
            {% if not game.rating %}
            <object name="star-{{ i // 2 }}" class="star none" type="image/svg+xml" data="{{ url_for('static', filename='star-empty.svg') }}">Star</object>
            {% elif game.rating >= i %}
            <object name="star-{{ i // 2 }}" class="star full" type="image/svg+xml" data="{{ url_for('static', filename='star-full-y.svg') }}">Star</object>
            {% elif game.rating >= i - 1 %}
            <object name="star-{{ i // 2 }}" class="star half" type="image/svg+xml" data="{{ url_for('static', filename='star-half-y.svg') }}">Star</object>
            {% else %}
            <object name="star-{{ i // 2 }}" class="star empty" type="image/svg+xml" data="{{ url_for('static', filename='star-empty-y.svg') }}">Star</object>
            {% endif %}
            {% endfor %}
        </span>
    </p>
    {% endif %}
    <p class="info links">
        {% if game.gb_id %}
        <span><a class="button" href="{{ url_for('update', id=game.id) }}">Refresh Data</a></span>
        <span><a class="button" href="{{ game.gb_url }}">View on Giant Bomb</a></span>
        {% endif %}
        {% if can_edit and game.image_url and not game.current_image_is_local %}
        <span><a class="button" href="{{ url_for('import_image', id=game.id) }}">Import Hotlinked Image</a></span>
        {% endif %}
        {% if can_edit %}
        <span><a class="button" href="{{ url_for('edit', id=game.id) }}">Edit</a></span>
        {% endif %}
        {% if can_delete %}
        <span><a class="button" href="javascript:deleteGame()">Delete</a></span>
        {% endif %}
    </p>
</div>

{% if user and user.is_authenticated %}
<form id="add_form" action="{{ url_for('add_play', game_id=game.id) }}" method="POST" autocomplete="off">
    {{ add_form.id }}
    {{ add_form.csrf_token }}
</form>

<form id="edit_form" action="{{ url_for('edit_play') }}" method="POST" autocomplete="off">
    {{ edit_form.id }}
    {{ edit_form.csrf_token }}
</form>

<table id="plays">
    <thead>
        <tr>
            <th class="fave"></th>
            <th class="started">Started</th>
            <th class="finished">Finished</th>
            <th class="status">Status</th>
            <th class="tags">Tags</th>
            <th class="comments">Comments</th>
            <th class="rating">Rating</th>
            <th class="icon"></th>
            <th class="icon"></th>
        </tr>
    </thead>
    <tbody>
        <tr id="edit-play" hidden="true">
            <td class="fave">
                {{ edit_form.fave(form="edit_form") }}
                <a href="javascript:setFave('edit-play', true)" class="object-link">
                    <object name="heart-edit" class="heart empty" type="image/svg+xml" data="{{ url_for('static', filename='heart-empty.svg') }}">Heart</object>
                </a>
            </td>
            <td class="started">{{ edit_form.started(form="edit_form") }}</td>
            <td class="finished">{{ edit_form.finished(form="edit_form") }}</td>
            <td class="status">{{ edit_form.status(form="edit_form") }}</td>
            <td class="tags">{{ edit_form.tags(form="edit_form") }}</td>
            <td class="comments">{{ edit_form.comments(form="edit_form") }}</td>
            <td class="rating">
                {{ edit_form.rating(form="edit_form")}}
                {% for i in range(2, 12, 2) %}
                <a href="javascript:setRating('edit-play', {{ i }})" class="object-link">
                    <object name="star-edit-{{ i }}" class="star none" type="image/svg+xml" data="{{ url_for('static', filename='star-empty.svg') }}">Star</object>
                </a>
                {% endfor %}
            </td>
            <td class="save icon"><a id="submit_edit" href="javascript:$('#edit_form').submit()"><img class="icon" src="{{ url_for('static', filename='save.png') }}" title="Save" /></a></td>
            <td class="cancel icon"><a id="cancel_edit" href="javascript:cancelEdit()"><img class="icon" src="{{ url_for('static', filename='delete.png') }}" title="Cancel" /></a></td>
        </tr>
        <tr id="edit-buffer" hidden="true"></tr>
        {% if plays %}
        {% for play in plays %}
        <tr id="{{ play.id }}">
            <td class="fave">
                <input type="hidden" value="{{ play.fave }}" name="fave_{{ play.id }}" />
                <object
                    name="heart-{{ play.id }}"
                    class="heart {{ 'full' if play.fave else 'empty' }}"
                    type="image/svg+xml"
                    data="{{ url_for('static', filename='heart-full-p.svg' if play.fave else 'heart-empty.svg') }}"
                >
                    Heart
                </object>
            </td>
            <td class="started">{{ play.started if play.started else "" }}</td>
            <td class="finished">{{ play.finished if play.finished else "" }}</td>
            <td class="status">{{ play.status.pretty() }}</td>
            <td class="tags">{{ play.tags | map(attribute='name') | join(", ") }}</td>
            <td class="comments">{{ play.comments }}</td>
            <td class="rating">
                <input type="hidden" value="{{ play.rating }}" name="rating_{{ play.id }}" />
                {% for i in range(2, 12, 2) %}
                {% if not play.rating %}
                <object name="star-{{ play.id }}-{{ i // 2 }}" class="star none" type="image/svg+xml" data="{{ url_for('static', filename='star-empty.svg') }}">Star</object>
                {% elif play.rating >= i %}
                <object name="star-{{ play.id }}-{{ i // 2 }}" class="star full" type="image/svg+xml" data="{{ url_for('static', filename='star-full-y.svg') }}">Star</object>
                {% elif play.rating >= i - 1 %}
                <object name="star-{{ play.id }}-{{ i // 2 }}" class="star half" type="image/svg+xml" data="{{ url_for('static', filename='star-half-y.svg') }}">Star</object>
                {% else %}
                <object name="star-{{ play.id }}-{{ i // 2 }}" class="star empty" type="image/svg+xml" data="{{ url_for('static', filename='star-empty-y.svg') }}">Star</object>
                {% endif %}
                {% endfor %}
            </td>
            <td class="edit icon"><a id="edit_{{ play.id }}" href="javascript:editPlay({{ play.id }})"><img class="icon" src="{{ url_for('static', filename='edit.png') }}" title="Edit" /></a></td>
            <td class="delete icon"><a id="delete_{{ play.id }}" href="javascript:deletePlay({{ play.id }})"><img class="icon" src="{{ url_for('static', filename='delete.png') }}" title="Delete" /></a></td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr id="new-play">
            <td class="fave">
                {{ add_form.fave(form="add_form") }}
                <a href="javascript:setFave('new-play', true)" class="object-link">
                    <object name="heart-new" class="heart empty" type="image/svg+xml" data="{{ url_for('static', filename='heart-empty.svg') }}">Heart</object>
                </a>
            </td>
            <td class="started">{{ add_form.started(form="add_form") }}</td>
            <td class="finished">{{ add_form.finished(form="add_form") }}</td>
            <td class="status">{{ add_form.status(form="add_form") }}</td>
            <td class="tags">{{ add_form.tags(form="add_form") }}</td>
            <td class="comments">{{ add_form.comments(form="add_form") }}</td>
            <td class="rating">
                {{ add_form.rating(form="add_form")}}
                {% for i in range(2, 12, 2) %}
                <a href="javascript:setRating('new-play', {{ i }})" class="object-link">
                    <object name="star-new-{{ i // 2 }}" class="star none" type="image/svg+xml" data="{{ url_for('static', filename='star-empty.svg') }}">Star</object>
                </a>
                {% endfor %}
            </td>
            <td class="save icon"><a id="submit_add" href="javascript:$('#add_form').submit()"><img class="icon" src="{{ url_for('static', filename='save.png') }}" title="Save" /></a></td>
            <td class="clear icon"><a id="clear_add" href="javascript:setRating('new-play', 0); $('#add_form')[0].reset()"><img class="icon" src="{{ url_for('static', filename='delete.png') }}" title="Clear" /></a></td>
        </tr>
    </tbody>
</table>
{% endif %}

{% if game.gb_id %}
<div class="footer">
    <object name="gb-logo" class="gb-logo" type="image/svg+xml" data="{{ url_for('static', filename='gb.svg') }}">Giant Bomb Logo</object>
    <span>Some content on this page provided by <a href="https://www.giantbomb.com/">Giant Bomb</a> via their excellent <a href="https://www.giantbomb.com/api/">API</a>. Thanks!</span>
</div>
{% endif %}

{% endblock %}
