{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    $(document).ready(() => {
        const dates = $("input#released");
        const image = $("input#image_url");
        const inputs = $("input");

        // Submit on enter
        inputs.keydown((e) => {
            if (e.keyCode == 13) {
                $('#form').submit();
            }
        });

        // Update image source on URL change
        image.change(() => {
            $("img.art").attr("src", image.val() || "{{ url_for('static', filename='default.png') }}");
        });
    });
</script>

<div class="tabs">
    <h1>
        <ul>
            <li><a href={{ url_for('games') }}>Games</a></li>
            <li><a href={{ url_for('plays') }}>Plays</a></li>
            <li class="selected"><a href={{ url_for('edit', id=game.id) }}>Edit Game</a></li>
            <li>&nbsp;</li>
        </ul>
    </h1>
</div>

<div id="edit">
    <img class="art" src="{{ game.image_url if game.image_url else url_for('static', filename='default.png') }}" />
    <form id="form" action="" method="POST" autocomplete="off">
        {{ form.hidden_tag() }}

        <p class="info">
            <span class="label">{{ form.name.label }}:</span>
            <span>{{ form.name(autofocus=true) }}</span>
        </p>
        <p class="info">
            <span class="label">{{ form.image_url.label }}:</span>
            <span>{{ form.image_url }}</span>
        </p>
        <p class="info">
            <span class="label">{{ form.gb_id.label }}:</span>
            <span>{{ form.gb_id }}</span>
        </p>
        <p class="info">
            <span class="label">{{ form.hltb_id.label }}:</span>
            <span>{{ form.hltb_id }}</span>
        </p>
        <p class="info">
            <span class="label">{{ form.description.label }}:</span>
            <span>{{ form.description }}</span>
        </p>
        <p class="info">
            <span class="label">{{ form.released.label }}:</span>
            <span>{{ form.released }}</span>
        </p>
        <p class="info">
            <span class="label">{{ form.platforms.label }}:</span>
            <span>{{ form.platforms }}</span>
        </p>
        <p class="info links">
            <span><input type="submit" value="Save Details" /></span>
            {% if game.name %}
            <span><a class="button" href="{{ url_for('details', id=game.id) }}">Discard Changes</a></span>
            {% endif %}
        </p>
    </form>
</div>

{% if game.gb_id %}
<div class="footer">
    <object class="gb-logo" type="image/svg+xml" data="{{ url_for('static', filename='gb.svg')}}">Giant Bomb Logo</object>
    <span>Some content on this page provided by <a href="https://www.giantbomb.com/">Giant Bomb</a> via their excellent <a href="https://www.giantbomb.com/api/">API</a>. Thanks!</span>
</div>
{% endif %}

{% endblock %}
