{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='toggle.js') }}"></script>

<div class="tabs">
    <h1>
        <ul>
            <li class="selected"><a href="{{ url_for('games') }}">Games</a></li>
            <li><a href="{{ url_for('plays') }}">Plays</a></li>
			<li>&nbsp;</li>
        </ul>
    </h1>
    <h2 id="filters">
        {% if can_add %}
        <a class="button" href="{{ url_for('add', name=search) }}">New Game</a>
        {% endif %}
        <ul>
            <li class={{ 'selected' if sort == 'added' else '' }}>
                <a href="{{ url_for('games', sort='added') }}">Recently Added</a>
            </li>
            <li class={{ 'selected' if sort == 'released' else '' }}>
                <a href="{{ url_for('games', sort='released') }}">Recently Released</a>
            </li>
            <li class={{ 'selected' if sort == 'name' else '' }}>
                <a href="{{ url_for('games', sort='name') }}">Alphabetical</a>
            </li>
            {% if search %}
            <li class="selected">Search: {{ search }}</li>
            {% endif %}
        </ul>
    </h2>
    <a class="toggle-filters" href="javascript:toggleFilters()"></a>
</div>

<table id="games">
    <thead>
        <tr>
            <th class="art"></th>
            <th class="name">Name</th>
            <th class="released">Released</th>
            <th class="platforms">Platforms</th>
            <th class="rating">Rating</th>
        </tr>
    </thead>
    <tbody>
        {% if not games %}
        <tr>
            <td class="empty" colspan="5">No games found!</td>
        </tr>
        {% endif %}

        {% for game in games %}
        <tr id={{ game.id }}>
            <td class="art"><img class="art small" src="{{ game.image_url if game.image_url else url_for('static', filename='default.png') }}" /></td>
            <td class="name"><a href="{{ url_for('details', id=game.id) }}">{{ game.name }}</a></td>
            <td class="released">{{ game.released if game.released else "" }}</td>
            <td class="platforms">{{ game.platforms | map(attribute="abbreviation") | join(", ") }}</td>
            <td class="rating">
                {% if game.rating %}
                {% for i in range(2, 12, 2) %}
                {% if game.rating >= i %}
                <object name="star-{{ game.id }}-{{ i // 2 }}" class="star full" type="image/svg+xml" data="{{ url_for('static', filename='star-full-y.svg') }}">Star</object>
                {% elif game.rating >= i - 1 %}
                <object name="star-{{ game.id }}-{{ i // 2 }}" class="star half" type="image/svg+xml" data="{{ url_for('static', filename='star-half-y.svg') }}">Star</object>
                {% else %}
                <object name="star-{{ game.id }}-{{ i // 2 }}" class="star empty" type="image/svg+xml" data="{{ url_for('static', filename='star-empty-y.svg') }}">Star</object>
                {% endif %}
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pages">
    {% if page and page > 1 %}
    <div id="previous"><a class="button" href={{ url_for('games', sort=sort, page=page - 1) }}>Previous Page</a></div>
    {% endif %}

    {% if more %}
    <div id="next"><a class="button" href={{ url_for('games', sort=sort, page=page + 1) }}>Next Page</a></div>
    {% endif %}
</div>

{% if giantbomb %}
<h1>Results from Giant Bomb</h1>

<table id="giantbomb">
    <thead>
        <tr>
            <th class="art"></th>
            <th class="name">Name</th>
            <th class="released">Released</th>
            <th class="platforms">Platforms</th>
            <th class="rating">Rating</th>
            <th class="add"></th>
        </tr>
    </thead>
    <tbody>
        {% for game, in_db in giantbomb %}
        <tr id={{ game.gb_id }}>
            <td class="art"><img class="art small" src="{{ game.image_url if game.image_url else url_for('static', filename='default.png') }}" /></td>
            <td class="name"><a href="{{ game.gb_url }}">{{ game.name }}</a></td>
            <td class="released">{{ game.released if game.released }}</td>
            <td class="platforms">{{ game.platforms | map(attribute="abbreviation") | join(", ") }}</td>
            <td class="rating">{{ game.stars | safe }}</td>
            <td class="add">
                {% if not in_db %}
                <a href="{{ url_for('add_gb', gb_id=game.gb_id) }}"><img class="icon" src="{{ url_for('static', filename='add.png') }}" title="Import from Giant Bomb" /></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="footer">
    <object name="gb-logo" class="gb-logo" type="image/svg+xml" data={{ url_for('static', filename='gb.svg')}}>Giant Bomb Logo</object>
    <span>Some content on this page provided by <a href="https://www.giantbomb.com/">Giant Bomb</a> via their excellent <a href="https://www.giantbomb.com/api/">API</a>. Thanks!</span>
</div>
{% endif %}

{% endblock %}

