{% extends "base.html" %}
{% block content %}

<table id="latest">
	<thead>
		<tr>
			<th class="art"></th>
			<th class="name">Name</th>
			<th class="added">Added</th>
			<th class="platforms">Platforms</th>
			<th class="rating">Rating</th>
		</tr>
	</thead>
	<tbody>
		{% for game in games %}
		<tr id="{{ game.id }}">
			<td class="art"><img class="art small" src="{{ game.image_url if game.image_url else url_for('static', filename='default.png')}}" /></td>
			<td class="name">{{ game.name }}</td>
			<td class="added">{{ game.added }}</td>
			<td class="platforms">{{ game.platforms|map(attribute="abbreviation")|join(", ") }}</td>
			<td class="rating">{{ "&#9733" * round(game.rating) + "&#9734" * (5 - round(game.rating)) if game.rating else ""}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

