{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='toggle.js') }}"></script>

<div class="tabs">
    <h1>
        <ul>
            <li><a href="{{ url_for('games') }}">Games</a></li>
            <li class="selected"><a href="{{ url_for('plays') }}">Plays</a></li>
            <li>&nbsp;</li>
        </ul>
    </h1>
    <h2 id="filters">
        <ul>
            <li class={{ 'selected' if status == None else '' }}>
                <a href="{{ url_for('plays') }}">All</a>
            </li>
            {% for s in statuses %}
            <li class={{ 'selected' if s['selected'] else '' }}>
                <a href="{{ url_for('plays', status=s['name']) }}">{{ s['pretty'] }}</a>
            </li>
            {% endfor %}
        </ul>
    </h2>
    <a class="toggle-filters" href="javascript:toggleFilters()"></a>
</div>

<table id="latest">
    <thead>
        <tr>
            <th class="art"></th>
            <th class="name">Name</th>
            <th class="started">Started</th>
            <th class="finished">Finished</th>
            <th class="status">Status</th>
            <th class="rating">Rating</th>
        </tr>
    </thead>
    <tbody>
        {% if not plays %}
        <tr>
            <td class="empty" colspan="6">No records found!</td>
        </tr>
        {% endif %}

        {% for play in plays %}
        <tr id={{ play.id }}>
            <td class="art"><img class="art small" src="{{ play.game.image_url if play.game.image_url else url_for('static', filename='default.png') }}" /></td>
            <td class="name"><a href="{{ url_for('details', id=play.game.id) }}">{{ play.game.name }}</a></td>
            <td class="started">{{ play.started if play.started else "" }}</td>
            <td class="finished">{{ play.finished if play.finished else "" }}</td>
            <td class="status">{{ play.status.pretty() }}</td>
            <td class="rating">
                {% for i in range(2, 12, 2) %}
                {% if not play.rating %}
                <img class="star none" src="{{ url_for('static', filename='star-empty.png') }}" />
                {% elif play.rating >= i %}
                <img class="star full" src="{{ url_for('static', filename='star-full-y.png') }}" />
                {% elif play.rating >= i - 1 %}
                <img class="star half" src="{{ url_for('static', filename='star-half-y.png') }}" />
                {% else %}
                <img class="star empty" src="{{ url_for('static', filename='star-empty-y.png') }}" />
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pages">
    {% if page > 1 %}
    <div id="previous"><a class="button" href="{{ url_for('plays', status=status, page=page - 1) }}">Previous Page</a></div>
    {% endif %}

    {% if more %}
    <div id="next"><a class="button" href="{{ url_for('plays', status=status, page=page + 1) }}">Next Page</a></div>
    {% endif %}
</div>

{% endblock %}

