{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='toggle.js') }}"></script>

<div class="tabs">
    <h1>
        <ul>
            <li><a href="{{ url_for('games') }}">Games</a></li>
            <li class="selected"><a href="{{ url_for('plays') }}">Plays</a></li>
            <li>&nbsp;</li>
        </ul>
    </h1>
    <h2 id="filters">
        <ul>
            <li class={{ 'selected' if status == None and not fave else '' }}>
                <a href="{{ url_for('plays') }}">All</a>
            </li>
            <li class={{ 'selected' if fave else '' }}>
                <a href="{{ url_for('plays', fave=1) }}">Favourites</a>
            </li>
            {% for s in statuses %}
            <li class={{ 'selected' if s['selected'] else '' }}>
                <a href="{{ url_for('plays', status=s['name']) }}">{{ s['pretty'] }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="{{ url_for('plays', status='completed', group='year') }}">By Year</a>
            </li>
        </ul>
    </h2>
    <a class="toggle-filters" href="javascript:toggleFilters()"></a>
</div>

<table>
    <thead>
        <tr>
            <th class="fave"></th>
            <th class="art"></th>
            <th class="name">Name</th>
            <th class="started">Started</th>
            <th class="finished">Finished</th>
            <th class="status">Status</th>
            <th class="rating">Rating</th>
        </tr>
    </thead>
    <tbody>
        {% if not plays %}
        <tr>
            <td class="empty" colspan="7">No records found!</td>
        </tr>
        {% endif %}

        {% for play in plays %}
        <tr id={{ play.id }}>
            <td class="fave">
                <object
                    name="heart-{{ play.id }}"
                    class="heart {{ 'empty' if not play.fave else '' }}"
                    type="image/svg+xml"
                    data="{{ url_for('static', filename='heart-full-p.svg' if play.fave else 'heart-empty.svg') }}"
                >
                    Heart
                </object>
            </td>
            <td class="art">
                <img
                    class="art small"
                    src="{{ play.game.image_url if play.game.image_url else url_for('static', filename='default.png') }}"
                />
            </td>
            <td class="name"><a href="{{ url_for('details', id=play.game.id) }}">{{ play.game.name }}</a></td>
            <td class="started">{{ play.started if play.started else "" }}</td>
            <td class="finished">{{ play.finished if play.finished else "" }}</td>
            <td class="status">{{ play.status.pretty() }}</td>
            <td class="rating">
                {% if play.rating %}
                {% for i in range(2, 12, 2) %}
                {% if play.rating >= i %}
                <object name="star-{{ play.id }}-{{ i // 2 }}" class="star full" type="image/svg+xml" data="{{ url_for('static', filename='star-full-y.svg') }}">Star</object>
                {% elif play.rating >= i - 1 %}
                <object name="star-{{ play.id }}-{{ i // 2 }}" class="star half" type="image/svg+xml" data="{{ url_for('static', filename='star-half-y.svg') }}">Star</object>
                {% else %}
                <object name="star-{{ play.id }}-{{ i // 2 }}" class="star empty" type="image/svg+xml" data="{{ url_for('static', filename='star-empty-y.svg') }}">Star</object>
                {% endif %}
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pages">
    {% if page > 1 %}
    <div id="previous"><a class="button" href="{{ url_for('plays', status=status, page=page - 1) }}">Previous Page</a></div>
    {% endif %}

    {% if more %}
    <div id="next"><a class="button" href="{{ url_for('plays', status=status, page=page + 1) }}">Next Page</a></div>
    {% endif %}
</div>

{% endblock %}

